*{
    margin: 0px;
    padding: 0px;
}
.supportfoot-main{
    overflow: hidden;
}
.back-support-foot{
  background-color: #202223;
  width: 100%;
  height: 500px;
  margin-top: 60px;
}
.learn-more{
    background-color: #3BA55C;
    color: white;
    border-radius: 40px;
    padding: 12px 65px;
    border: 0px;
    margin-top: 60px;
       font-family: Ggsans, sans-serif;
       font-weight: 600;
       font-size: 13px;
       text-transform: uppercase;
}
.sup-foot-row{
    padding-left: 530px;
    padding-right: 530px;
    margin-top: 60px;
   
}
.foot-center{
    display: flex;
    justify-content: center;
    align-items: center;

 
    
}
.ft-1{
    font-size: 55px;
    display: flex;
       color: #bbb5b5;
           cursor: pointer;
}
.ft-2{
    font-size: 55px;
  position: relative;
  top: -8px;
   color: #bbb5b5;
       cursor: pointer;
}
.ft-3{
    font-size: 55px;
     position: relative;
  top: -8px;
  margin-left: -80px;
   color:#bbb5b5;
       cursor: pointer;
}
.ft-4{
    font-size: 55px;
    display: flex;
    margin-left: -140px;
     color: #bbb5b5;
         cursor: pointer; 
}
.ft-5{
     font-size: 55px;
    display: flex;
    margin-left: -115px;
     color: #bbb5b5;
         cursor: pointer; 
}
.ft-1:hover,.ft-2:hover,.ft-3:hover,.ft-4:hover,.ft-5:hover{
    color: white;
}

.sup-foot-link{
    color: white;
     font-family: Ggsans, sans-serif;
     font-size: 14px;
     margin-top: -7px;
     cursor: pointer;
}
.sup-foot-link:hover {
    text-decoration: underline;
}
.sup-foot-link-1{
    color: #878585;
     font-family: Ggsans, sans-serif;
     font-size: 14px;
     margin-top: -7px;
     cursor: pointer;
}
.sup-foot-link-1 span{
    color: white;
}
.sup-foot-link-1 span:hover{
    text-decoration: underline;
}
@media(max-width:500px){

.supportfoot-main{
    overflow: hidden !important;
}



.back-support-foot{
  background-color: #202223;
  width: 100%;
  height: auto;
  margin-top: 60px;
}
.learn-more{
    background-color: #3BA55C;
    color: white;
    border-radius: 40px;
    padding: 12px 65px;
    border: 0px;
    margin-top: 60px;
       font-family: Ggsans, sans-serif;
       font-weight: 600;
       font-size: 13px;
       text-transform: uppercase;
}
.sup-foot-row{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 60px;
   
}
.foot-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.support-foot-logo{
    width: 45%;
    margin-left: 10%;
    margin-bottom: 30px;
}
.ft-1{
    font-size: 55px;
    display: flex;
       color: #bbb5b5;
           cursor: pointer;
}
.ft-2{
    font-size: 55px;
  position: relative;
  top: -8px;
   color: #bbb5b5;
       cursor: pointer;
}
.ft-3{
    font-size: 55px;
     position: relative;
  top: -8px;
  margin-left: 0px;
   color:#bbb5b5;
       cursor: pointer;
}
.ft-4{
    font-size: 55px;
    display: flex;
    margin-left: 0px;
     color: #bbb5b5;
         cursor: pointer; 
}
.ft-5{
     font-size: 55px;
    display: flex;
    margin-left: 0px;
     color: #bbb5b5;
         cursor: pointer; 
}


.sup-foot-link{
    color: white;
     font-family: Ggsans, sans-serif;
     font-size: 16px;
     margin-top: -7px;
     cursor: pointer;
     margin-left: 13%;
}

.sup-foot-link-1{
    color: #878585;
     font-family: Ggsans, sans-serif;
     font-size: 16px;
     margin-top: -7px;
     margin-left: 13%;
     cursor: pointer;
}
.sup-foot-link-1 span{
    color: white;
}
}
@media(min-width:501px) and (max-width:767px){



.supportfoot-main{
    overflow: hidden !important;
}



.back-support-foot{
  background-color: #202223;
  width: 100%;
  height: auto;
  margin-top: 60px;
}
.learn-more{
    background-color: #3BA55C;
    color: white;
    border-radius: 40px;
    padding: 12px 65px;
    border: 0px;
    margin-top: 60px;
       font-family: Ggsans, sans-serif;
       font-weight: 600;
       font-size: 13px;
       text-transform: uppercase;
}
.sup-foot-row{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 60px;
   
}
.foot-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.support-foot-logo{
    width: 35%;
    margin-left: 10%;
    margin-bottom: 30px;
}
.ft-1{
    font-size: 55px;
    display: flex;
       color: #bbb5b5;
           cursor: pointer;
}
.ft-2{
    font-size: 55px;
  position: relative;
  top: -8px;
   color: #bbb5b5;
       cursor: pointer;
}
.ft-3{
    font-size: 55px;
     position: relative;
  top: -8px;
  margin-left: 0px;
   color:#bbb5b5;
       cursor: pointer;
}
.ft-4{
    font-size: 55px;
    display: flex;
    margin-left: 0px;
     color: #bbb5b5;
         cursor: pointer; 
}
.ft-5{
     font-size: 55px;
    display: flex;
    margin-left: 0px;
     color: #bbb5b5;
         cursor: pointer; 
}


.sup-foot-link{
    color: white;
     font-family: Ggsans, sans-serif;
     font-size: 16px;
     margin-top: -7px;
     cursor: pointer;
     margin-left: 13%;
}

.sup-foot-link-1{
    color: #878585;
     font-family: Ggsans, sans-serif;
     font-size: 16px;
     margin-top: -7px;
     margin-left: 13%;
     cursor: pointer;
}
.sup-foot-link-1 span{
    color: white;
}
}
@media(min-width:768px) and (max-width:992px){



.supportfoot-main{
    overflow: hidden !important;
}



.back-support-foot{
  background-color: #202223;
  width: 100%;
  height: auto;
  margin-top: 60px;
  padding-bottom: 40px;
}
.learn-more{
    background-color: #3BA55C;
    color: white;
    border-radius: 40px;
    padding: 12px 65px;
    border: 0px;
    margin-top: 60px;
       font-family: Ggsans, sans-serif;
       font-weight: 600;
       font-size: 13px;
       text-transform: uppercase;
}
.sup-foot-row{
    padding-left: 22%;
    padding-right: 22%;
    margin-top: 60px;
   
}
.foot-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.support-foot-logo{
    width: 170px;
    margin-left: 10%;
    margin-bottom: 30px;
}
.ft-1{
    font-size: 65px;
    display: flex;
       color: #bbb5b5;
           cursor: pointer;
}
.ft-2{
    font-size: 65px;
  position: relative;
  top: -8px;
   color: #bbb5b5;
       cursor: pointer;
}
.ft-3{
    font-size: 65px;
     position: relative;
  top: -8px;
  margin-left: 0px;
   color:#bbb5b5;
       cursor: pointer;
}
.ft-4{
    font-size: 65px;
    display: flex;
    margin-left: 0px;
     color: #bbb5b5;
         cursor: pointer; 
}
.ft-5{
     font-size: 65px;
    display: flex;
    margin-left: 0px;
     color: #bbb5b5;
         cursor: pointer; 
}


.sup-foot-link{
    color: white;
     font-family: Ggsans, sans-serif;
     font-size: 16px;
     margin-top: -7px;
     cursor: pointer;
     margin-left: 13%;
}

.sup-foot-link-1{
    color: #878585;
     font-family: Ggsans, sans-serif;
     font-size: 16px;
     margin-top: -7px;
     margin-left: 13%;
     cursor: pointer;
}
.sup-foot-link-1 span{
    color: white;
}
}
@media(min-width:993px) and (max-width:1200px){

.back-support-foot{
  background-color: #202223;
  width: 100%;
  height: auto;
  margin-top: 60px;
  padding-bottom: 50px;
}
.learn-more{
    background-color: #3BA55C;
    color: white;
    border-radius: 40px;
    padding: 12px 65px;
    border: 0px;
    margin-top: 60px;
       font-family: Ggsans, sans-serif;
       font-weight: 600;
       font-size: 13px;
       text-transform: uppercase;
}
.sup-foot-row{
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 60px;
   
}
.foot-center{
    display: flex;
    justify-content: center;
    align-items: center;

 
    
}
.ft-1{
    font-size: 55px;
    display: flex;
       color: #bbb5b5;
           cursor: pointer;
}
.ft-2{
    font-size: 55px;
  position: relative;
  top: -8px;
   color: #bbb5b5;
       cursor: pointer;
}
.ft-3{
    font-size: 55px;
     position: relative;
  top: -8px;
  margin-left: -80px;
   color:#bbb5b5;
       cursor: pointer;
}
.ft-4{
    font-size: 55px;
    display: flex;
    margin-left: -140px;
     color: #bbb5b5;
         cursor: pointer; 
}
.ft-5{
     font-size: 55px;
    display: flex;
    margin-left: -115px;
     color: #bbb5b5;
         cursor: pointer; 
}
.ft-1:hover,.ft-2:hover,.ft-3:hover,.ft-4:hover,.ft-5:hover{
    color: white;
}

.sup-foot-link{
    color: white;
     font-family: Ggsans, sans-serif;
     font-size: 14px;
     margin-top: -7px;
     cursor: pointer;
}
.sup-foot-link:hover {
    text-decoration: underline;
}
.sup-foot-link-1{
    color: #878585;
     font-family: Ggsans, sans-serif;
     font-size: 14px;
     margin-top: -7px;
     cursor: pointer;
}
.sup-foot-link-1 span{
    color: white;
}
.sup-foot-link-1 span:hover{
    text-decoration: underline;
}


}
@media(min-width:1201px) and (max-width:1500px){




.back-support-foot{
  background-color: #202223;
  width: 100%;
  height: auto;
  margin-top: 60px;
  padding-bottom: 50px;
}
.learn-more{
    background-color: #3BA55C;
    color: white;
    border-radius: 40px;
    padding: 12px 65px;
    border: 0px;
    margin-top: 60px;
       font-family: Ggsans, sans-serif;
       font-weight: 600;
       font-size: 13px;
       text-transform: uppercase;
}
.sup-foot-row{
    padding-left: 30%;
    padding-right: 30%;
    margin-top: 60px;
   
}
.foot-center{
    display: flex;
    justify-content: center;
    align-items: center;

 
    
}
.ft-1{
    font-size: 55px;
    display: flex;
       color: #bbb5b5;
           cursor: pointer;
}
.ft-2{
    font-size: 55px;
  position: relative;
  top: -8px;
   color: #bbb5b5;
       cursor: pointer;
}
.ft-3{
    font-size: 55px;
     position: relative;
  top: -8px;
  margin-left: -80px;
   color:#bbb5b5;
       cursor: pointer;
}
.ft-4{
    font-size: 55px;
    display: flex;
    margin-left: -140px;
     color: #bbb5b5;
         cursor: pointer; 
}
.ft-5{
     font-size: 55px;
    display: flex;
    margin-left: -115px;
     color: #bbb5b5;
         cursor: pointer; 
}
.ft-1:hover,.ft-2:hover,.ft-3:hover,.ft-4:hover,.ft-5:hover{
    color: white;
}

.sup-foot-link{
    color: white;
     font-family: Ggsans, sans-serif;
     font-size: 14px;
     margin-top: -7px;
     cursor: pointer;
}
.sup-foot-link:hover {
    text-decoration: underline;
}
.sup-foot-link-1{
    color: #878585;
     font-family: Ggsans, sans-serif;
     font-size: 14px;
     margin-top: -7px;
     cursor: pointer;
}
.sup-foot-link-1 span{
    color: white;
}
.sup-foot-link-1 span:hover{
    text-decoration: underline;
}




}
