*{
    margin: 0px;
    padding: 0px;
}
.main-navblog{
    display: flex;
    height: 80px;
    background-color: transparent;
    align-items: center;
    font-family: Ggsans, sans-serif;
    padding-left: 120px;
    padding-right: 100px;
}
 .main-navblog .nav-link{
    color: white;
    font-weight: 600;
    font-size: 14.5px;
    text-transform: uppercase;
        font-family: Ggsans, sans-serif;
}
.main-navblog ul{
    margin-left: auto;
}
 .main-navblog .nav-link:hover{
    color: white;
text-decoration: underline;
}

.insrch{
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 20px;
    height: 40px;
    color: white !important;
    padding-left: 19px;
    font-family: Ggsans, sans-serif;
}
#issearch::placeholder{
    color: white;
    font-size: 14px;
}
.main-navblog img{
    cursor: pointer;
    width: 230px;
}
.log-btn{
    background-color: white;
    color: black;
    border: 0px;
   border-radius:30px;
   padding: 8px 15px;
   font-size: 14px;
   font-weight: 600;
}
.log-btn:hover{
     color: rgb(50, 29, 238);
}
.bars-1{
    display: none;
    color: white;
}
.logo{
   color: white;
   font-weight: bolder;
   font-size: 23px;
    cursor: pointer;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.active-link {
  color: #ff0000; 
}
.discord-black{
    width: 120px; 
}
.header{
    padding: 20px ;
}
.nav-drawer{
 border-top-left-radius: 12px;
 border-bottom-left-radius: 12px;

}
.nvv-link{
    position: relative;
}

.collaction-menu{
    margin-top: 0px;
    background-color: white;
    width: 200px;
    height: auto;
    padding: 20px;
    z-index: 4;
    position: absolute; 
    display: none;
}
.collaction-menu p{
    font-weight: 600;
  font-family: Ggsans, sans-serif;
  cursor: pointer;
  font-size: 15px;
}
.collaction-menu p:hover{
    color: #5865f2;
}
.nvv-link:hover .collaction-menu{
    display: block;
}
.header ul{
    list-style: none;
}
.header ul li{
    margin-top: 5px;
}
.header  .sm-link{
    color:#373b3d;
font-weight: 600;
    text-decoration: none;
    font-size: 16px;
 text-transform: uppercase;
    font-family: Ggsans, sans-serif;
    margin-top: 10px;
    
}
.sm-input{
    border-radius: 24px;
    height: 38px;
    margin-left: 20px;
    padding-left: 12px;
    border: 1px solid rgb(223, 219, 219);
    outline: none;
}
.sm-nav-btn{
    width: 100%;
    border: 0px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    background-color: #5865f2;
    height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}
.header-1{
    display: none;
}
.inter{
    padding: 20px;
    font-family: Ggsans, sans-serif;
     color:#373b3d;
     overflow:auto;
     height: 100%;
     overflow-y: scroll;
}
.inter-1{
    display: none;
}
.inter p{
    font-size: 13px;
    margin-left: 15px;
    font-weight: 600;
}
.inter h5{
    font-size: 18px;
}
.drawer-link{
    font-size: 10px !important;
    color: rgb(151, 146, 146);
    font-weight: 200 !important;
      font-family: Ggsans, sans-serif;
      margin-bottom: 9px;
      
}
.dra-btn{
    background-color: #5865f2;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 0px;
    position: relative;
    left: 183px;
    top: -34px;
}
.out-btn{
     background-color: #5865f2;
    color: white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 0px;
    position: relative;
  left: -37px;
    
}
@media(max-width:1098px){
.main-navblog ul{
    display: none;
  
}

.main-navblog img{
    cursor: pointer;
    width: 190px;
}
.bars-1{
    display: block;
    color: white;
    margin-left: 20px;
    margin-top: 7px;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.main-navblog{
    display: flex;
    height: 80px;
    background-color: #3a48de;
    align-items: center;
    font-family: Ggsans, sans-serif;
    justify-content:space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.log-btn{
    background-color: white;
    color: black;
    border: 0px;
   border-radius:30px;
   padding: 9px 12px;
   font-size: 12px;
   font-weight: bold;
   margin-top: 3px;
    font-family: Ggsans, sans-serif;
 
}
.logo{
    font-size: 23px;
}
.nsv-1{
  
}
.coll-menu-1{
 margin-top: 10px;
    background-color: white;
    width: auto;
    height: auto;
    padding: 0px;
    padding-left: 0px;
   
}
.coll-menu-1 p{
     font-weight: 600;
  font-family: Ggsans, sans-serif;
  cursor: pointer;
  font-size: 15px;
}
.coll-menu-1 p:hover{
    color: #5865f2;
}

}